
.arrow {
    height: 100%;
    width:5vw;
    z-index: 1;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
}
.arrowIcon {
    height:60%;
}

.arrowIcon.left {
    transform: scaleX(-1);
}

.hide {
    display:none !important;
}
.mainMenu {
    display: flex;
    flex-direction: column;
    height:100%;
}


.menuContent {
    overflow: hidden;
    height:100%;
    width:95vw;
}

.card {
    height:100%
}
.menuPage {
    width:100vw;
    display: flex; 
    padding:10px;
}
.appsMenu{
    overflow: hidden;
    width:100vw;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.appCard {
    width:30vw;
    padding:10px 0;
    height: 50%;
    
}
.appCard:nth-of-type(2), .appCard:nth-of-type(5) {
    padding:10px 2vw
}
.appsPage {
   width:100vw;
    padding:2vh 0;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 0;
    overflow: hidden;
 
}
.appsPagesContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    left:0;
    transition: all .7s ease-in-out;
    height:100%;
}
.icon {
    height:18px;
}