
.menuHeader {
    width:100%;
    display:flex;
    justify-content: space-between;
    font-size: 35px;
    padding: 10px 5vw ;
}
 
.refreshButton {
    align-self: start;
}

.headerRow {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:10px 0px;
}

.headerRow > * {
    height: 50px;
    text-align: center;
}
.headerRow:nth-of-type(2) {
    width:80%;
}

.sunrise {
    justify-content: flex-end;
    align-items: flex-end;
}

.timeDisplay > * {
    width:100%;
    text-align: center;
}



